body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: white;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}

.full-width {
    width: 100%;
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.master {
    width: 90%;
    /* border: 1px solid blue; */
    margin: 0 auto;
}
.master .nav {
    width: 100%;
    padding: 10px 0;
}
.master .nav .logo {
    float: left;
    margin-top: 10px;
}
.master .nav .menu {
    width: 65%;
    float: right;
}
.master .nav .menu li{
    float: left;
    margin-right: 35px;
    margin-top: 6px;
    list-style: none;
    display: block;
}
.menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.menu .btn {
    width: 130px;
    height: 40px;
    background-color: #f04e3c;
    color: #fff;
    border: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.toggle {
    display: none;
}
.wrapper {
    width: 85%;
    /* border: 1px solid green; */
    margin: 0 auto;
}

.hero .left  {
    width: 48%;
    float: left;
    color: white;
    padding-top: 100px;
    /* border: 1px solid blue; */
    padding-right: 10px;
}
.hero .left h3 {
    color: #f04e3c;
    font-weight: 200;
}
.hero .left p {
    font-size: 50px;
    line-height: 60px;
    font-weight: bold;
}
.hero .left button{
    width: 200px;
    height: 50px;
    background-color:#f04e3c;
    color: #fff;
    border: none;
}
.hero .right {
    width: 48%;
    float: right;
    /* border: 1px solid blue; */
}
.hero .right img {
    width: 100%;
}

/* about section start here------- */
.about {
    width: 100%;
    padding: 95px 0px;
    padding-bottom: 70px;
    /* border: 1px solid red; */
    background-image: url("../img/about-shape.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    clear: both;
}
.about .left {
    width: 48%;
    float: left;
    /* border: 1px solid blanchedalmond; */
}
.about .left h1  {
    margin: 0;
    margin-bottom: 40px;
}
.about .left a {
    color: #f04e3c;
    font-size: 14px;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid #f04e3c;
}
/* about right section   */
.about .right {
    width: 50%;
    float: right;
      /* border: 1px solid blanchedalmond; */
}
.about .right p {
    font-size: 14px;
    margin-bottom: 30px;
}
.about  .right .mid h5{
   margin: 0;
}
.about  .right .mid h6{
   margin-top: 5px;
   font-weight: 400;
   margin-bottom: 10px;
}
.about .right .bottom h1 {
    float: left;
    font-size: 60px;
    margin: 0;
}
.about .right .bottom h5 {
    float: left;
    margin-left: 10px;
    font-weight: 500;
}  


/* services section start here--- */
.services {
    width: 100%;
    padding: 25px 0px;
    /* border: 1px solid red; */
    /* background-image: url("../img/about-shape.png"); */
    background-repeat: no-repeat;
    background-position: left bottom;
    clear: both;
}
.services .box {
   width: 32%;
   /* border: 1px solid red; */
   float: left;
   box-sizing: border-box;
}
.services .box img {
    width: 90%;
}
.services .box img:hover {
    cursor: pointer;
    border-left: 3px inset #f04e3c;
}

.margin-both {
    margin-left: 2%;
    margin-right: 2%;
}
.services .box p {
    font-size: 13px;
    color: #efefef;
}
.gallery {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
}
.gallery div {
    float: left;
    width: 33.3%;
    height: 70vh;
}
.gallery div img{
    width: 100%;
    height: 70vh;
}
.gallery div:hover{
    opacity: 50%;
    color: #f04e3c;
}

.award-section {
    /* border:1px solid red; */
    padding: 70px 0px;
}
.award-section .left {
    float: left;
    width: 50%;
    /* border: 1px solid greenyellow; */
}
.award-section .left h1 {
    margin: 0;
    margin-bottom: 20px;
} 
.award-section .left p {
    font-size: 13px;
    color: #efefef;
} 
.award-section .left button{
    width: 150px;
    height: 40px;
    background-color: #f04e3c;
    color: white;
    border: none;
}
.award-section .left .left-bottom{
    width: 100%;
    /* border: 1px solid orange; */
    margin-top: 50px;
}
.award-section .right {
    width: 50%;
    float: right;
    /* border: 1px solid greenyellow; */
}
.award-section .box {
    width: 40%;
    float: left;
    border: 1px solid grey;
    text-align: center;
    margin-right: 10%;
    box-sizing: border-box;
    margin-bottom: 10%;
    padding: 40px;
}
.award-section .box img {
    width: 50%;
}


/* REVIEW SECTION STARTS HERE-- */
.review{
    /* border:1px solid red; */
    /* background: orange; */
    text-align: center;
    padding: 50px 120px;
    box-sizing: border-box;
}
.review img {
    width: 5%;
}
.review p {
    font-size: 14px;
    color: #efefef;
}
#review-img{
    width: 10%;
    border-radius: 100%;
    margin-top: 2%;
    border: 2px solid  #f04e3c;
}
.review h2 {
        color: #f04e3c;
}
.review h6 {
    color: #57667E;
    margin-top: 3px;
    letter-spacing: 0.5px;
}

/* footer section start here---- */
.footer {
   /* border: 1px solid red; */
   box-sizing: border-box;
}
.footer ul {
    padding: 0;
}
.footer ul li {
    list-style: none;
}
.footer ul li a {
    color: grey;
    text-decoration: none;
    line-height: 35px;
    font-size: 14px;
}
.footer ul li a:hover{
    color: #f04e3c;
}

.footer .f-about {
    width: 35%;
    float: left;
    /* border: 1px solid blue; */
    box-sizing: border-box;
    padding-right: 10px;
}
.footer .f-about p{
    font-size: 13px;
    line-height: 22px;
}

.footer .f-navigation{
    width: 15%;
    float: left;
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-left:10px;
}
.footer .f-links{
    width: 15%;
    float: left;
    /* border: 1px solid orange; */
    box-sizing: border-box;
    padding-left:10px;
}
.footer .f-social{
    width: 35%;
    /* border: 1px solid greenyellow; */
    box-sizing: border-box;
    float: left;
    padding-left: 10px;
}
.f-social .social-box {
    width: 30%;
    float: left;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 6%;
}
.f-social .social-box img {
    width: 90%;
}
.copyright {
    text-align: center;
    padding: 25px;
}
.copyright p {
    font-size: 12px;
    color: gray;
}
.copyright strong {
    color: #f04e3c;
}
 







@media only screen and (max-width:1030px){

    .master .nav .menu li{
        float: left;
        margin-right: 35px;
        margin-top: 6px;
        list-style: none;
        display: block;
    }
    .menu li a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
    }
    .menu .toggle {
        display: none;
    }
    .menu .btn {
        float: right;
    }
     .hero .left  {
        width: 40%;
        padding-top: 70px;
    }
    .hero .left p {
        font-size: 40px;
        line-height: 50px;
    }
     .hero .right  {
        width: 50%; 
        padding-top: 70px;
    }
    .services .box p {
        font-size: 12px;
    }    
}

@media only screen and (max-width:1005px){
    .master .nav .menu li{
        display: none;
    }
    .menu .btn{
        display: block;
        float: right;
        width: 120px;
    }
    .menu ul li{
        display: none;
        width: 50px;
    }
    
    .hero .left  {
        width: 100%;
        padding-top: 70px;
    }
    .hero .right  {
        width: 100%; 
        display: none;
    }
    .hero .right img {
        width: 100%;
    }
    .about .left{
        width: 100%;
        margin-bottom: 20px;
    }
    .about .right{
        width: 100%;
    }
    .services .box{
        width: 48%;
        float: left;
        margin-right: 1%;
        margin-bottom: 3%;
    }
    .services #box-3{
        width: 100%;
        margin-right: 0;
    }
    .services #box-3 img {
        float: left;
        width: 100%;
        height: 50vh;
        margin-right: 10px;
    }
    .award-section {
        padding: 25px 0px;
    }

    .award-section .left{
        width: 100%;
    }
    .award-section .right{
        width: 100%;
    }
    .award-section .box {
        padding:30px;
    }
    .award-section .box img {
        width: 60%;
    } 
    .box h5{
        font-size: 10px;
    }
    .review {
        padding: 10px 0px;
        margin-bottom: 50px;
        /* border: 1px solid red; */
    }
    .review p{
        font-size: 13px;
        line-height: 25px;
    }
    .footer{
        margin-top: 50px;
        border-top: 2px solid gray;
        padding-top: 50px;
    }
    .footer .f-about{
        width: 100%;
    }
    .footer .f-navigation{  
        width: 100%;
        padding-left: 0;
    }
    .footer .f-links{
        width: 100%;
        padding-left: 0;
    }
    .footer .f-social{
        width: 100%;
        padding-left: 0;
    }





}

@media only screen and (max-width:770px){
    .menu .toggle {
        display: none;
    }
    .hero .left  {
        width: 100%;
        padding-top: 70px;
    }
    .hero .right  {
        width: 100%; 
        display: none;
    }
    .hero .right img {
        width: 100%;
    }
    .about .left{
        width: 100%;
        margin-bottom: 20px;
    }
    .about .right{
        width: 100%;
    }
    .services .box{
        width: 48%;
        float: left;
        margin-right: 1%;
        margin-bottom: 3%;
    }
    .services #box-3{
        width: 100%;
        margin-right: 0;
    }
    .services #box-3 img {
        float: left;
        width: 100%;
        height: 50vh;
        margin-right: 10px;
    }
    .award-section {
        padding: 25px 0px;
    }

    .award-section .left{
        width: 100%;
    }
    .award-section .right{
        width: 100%;
    }
    .award-section .box {
        padding:30px;
    }
    .award-section .box img {
        width: 60%;
    } 
    .box h5{
        font-size: 10px;
    }
    .review {
        padding: 10px 0px;
        margin-bottom: 50px;
        /* border: 1px solid red; */
    }
    .review p{
        font-size: 13px;
        line-height: 25px;
    }
    .footer{
        margin-top: 50px;
        border-top: 2px solid gray;
        padding-top: 50px;
    }
    .footer .f-about{
        width: 100%;
    }
    .footer .f-navigation{  
        width: 100%;
        padding-left: 0;
    }
    .footer .f-links{
        width: 100%;
        padding-left: 0;
    }
    .footer .f-social{
        width: 100%;
        padding-left: 0;
    }





}
@media only screen and (max-width:420px){
    .master .nav .menu {
        width: 25%;
        float: right;
    }
    .menu .btn{
        display: none;
        float: right;
        width: 100px;
    }
    .menu .toggle{
        display: block;
        width: 50px;
    }
    
    .hero .left  {
        width: 100%;
        padding-top: 70px;
    }
    .hero .left h3 {
        color: #f04e3c;
        font-weight: 200;
        font-size: 17px;
    }
    .hero .left p{
        font-size: 30px;
    }
    .hero .right  {
        width: 100%; 
        display: none;
    }
    .hero .right img {
        width: 100%;
    }
    .about .left{
        width: 100%;
    }
    .about .right{
        width: 100%;
    }
    .services .box{
        width: 100%;
        margin-bottom: 1%;
    }
    .gallery div {
        width: 100%;
    }
    .award-section {
        /* border:1px solid red; */
        padding: 30px 0px;
    }
    .award-section .left{
        width: 100%;
    }
    .award-section .right {
        width: 100%;
    }
    .award-section .box{
        width: 100%;
    }
    .review{
        padding: 10px 8px;
    }
    #review-img{
        width: 40%;
    }
    .footer{
        margin-top: 50px;
        border-top: 2px solid gray;
        padding-top: 50px;
    }
    .footer .f-about{
        width: 100%;
    }
    .footer .f-navigation{  
        width: 100%;
        padding-left: 0;
    }
    .footer .f-links{
        width: 100%;
        padding-left: 0;
    }
    .footer .f-social{
        width: 100%;
        padding-left: 0;
    }


    

}